 # Predicting Close Price

In [46]:
#Initial Imports
from path import Path
import pandas as pd
import numpy as np

In [47]:
#Load the csv file
data = Path('../Group4/doge_trend.csv')
df = pd.read_csv(data, index_col="Date", infer_datetime_format=True, parse_dates=True)
df.head()

,Close,Volume,Trend,Title_Sentiment_Negative,Title_Sentiment_Neutral,Title_Sentiment_Positive
Date,,,,,,
2022-02-05,0.147141,587009429,0,1,0,0
2022-02-06,0.153770,757004142,1,1,0,0
2022-02-07,0.165578,1791358822,1,1,0,0
2022-02-08,0.158405,1190116000,0,0,1,0
2022-02-09,0.159123,778670798,1,0,1,0

In [40]:
# df.dropna()
#df.replace([np.inf, -np.inf], np.nan, inplace=True)
#df.fillna(999,inplace=True)

 ## Separate the Features (X) from the Target (y)

In [52]:
#Separate the features using "Trend"
y = df["Trend"]
X = df.drop(columns="Trend")

In [53]:
#check the x data
X.head()

,Close,Volume,Title_Sentiment_Negative,Title_Sentiment_Neutral,Title_Sentiment_Positive
Date,,,,,
2022-02-05,0.147141,587009429,1,0,0
2022-02-06,0.153770,757004142,1,0,0
2022-02-07,0.165578,1791358822,1,0,0
2022-02-08,0.158405,1190116000,0,1,0
2022-02-09,0.159123,778670798,0,1,0

In [32]:
#check the y data
y.head()

Date
2022-02-05    0
2022-02-06    1
2022-02-07    1
2022-02-08    0
2022-02-09    1
Name: Trend, dtype: int64

 ## Split our data into training and testing

In [51]:
#Split the data into train & test data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    # stratify=y
                                                    )
X_train.shape

(21, 5)

 ## Create a Logistic Regression Model

In [54]:
#Initiate the LRM
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

 ## Fit (train) the model using the training data

In [55]:
#Fit the data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

 ## Score the model using the test data

In [56]:
#Print the data score
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6190476190476191
Testing Data Score: 0.42857142857142855

 ## Make predictions

In [50]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results

   Prediction  Actual
0           0       1
1           0       1
2           0       0
3           0       1
4           0       1
5           0       0
6           0       0

## Confusion Matrix

In [49]:
# Create a confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[3, 0],
       [4, 0]], dtype=int64)

## Classification Report

In [48]:
# Create a classification report
from sklearn.metrics import classification_report
target_names = ["Trend Up", "Trend Down"]
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

    Trend Up       0.43      1.00      0.60         3
  Trend Down       0.00      0.00      0.00         4

    accuracy                           0.43         7
   macro avg       0.21      0.50      0.30         7
weighted avg       0.18      0.43      0.26         7

C:\Users\Hero\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Hero\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Hero\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))